@model DoctorOn.Entidades.Medico

<link href="~/Content/Calendar.css" rel="stylesheet" />

<div class="top">

    <section class="section_container">

        <section class="section_img">
        </section>

        <section class="section_perfil">
            <div class="section_direction">

                <h1>
                    @Html.DisplayFor(model => model.Nome_completo)
                </h1>
                <h3>
                    Nome do convênio:  @Html.DisplayFor(model => model.Especialidade, new { @class = "boldtext" })
                </h3>
                <h3>
                    Numero de CRM:  @Html.DisplayFor(model => model.CRM, new { @class = "boldtext" })
                </h3>
                <h3>
                    Numero de telefone: @Html.DisplayFor(model => model.Telefone, new { @class = "boldtext" })
                </h3>
                <h3>
                    Endereço:  @Html.DisplayFor(model => model.Endereco, new { @class = "boldtext" })
                </h3>


                <h4>
                    @Html.ActionLink("Editar Perfil", "Edit", "Medico", new { id = Model.Id }, new { style = "text-decoration:none" })
                </h4>

            </div>
        </section>

    </section>

</div>