<nav class="navbar navbar-default navbar-fixed-top navbar-shrink">
    <div class="container">
        <div class="page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a  class="navbar-brand page-scroll"><img class="logo" src="~/Assets/DoctorON.png" /></a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden active">
                    <a href="#page-top"></a>
                </li>

                <li class="">
                    @Html.ActionLink("Sobre Nós", "Index", "Produto", null, new { style = "text-decoration:none", @class="page-scroll" })
                </li>
                <li class="">
                    @Html.ActionLink("Agendar", "Form", "Produto", null, new { style = "text-decoration:none", @class="page-scroll" })
                </li>

                <!--if(WebSecurity.IsAuthenticated)-->
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="">
                        @Html.ActionLink("Logout", "Logout", "Login", null, new { style = "text-decoration:none", @class="page-scroll" })
                    </li>
                }
                else
                {
                    <li class="">
                        @Html.ActionLink("Login", "Index", "Login", null, new { style = "text-decoration:none", @class="page-scroll" })
                    </li>
                }

                <li class="">
                    @Html.ActionLink("Cadastrar", "Form", "Produto", null, new { style = "text-decoration:none", @class="page-scroll" })
                </li>
            </ul>
        </div>

    </div>
</nav>