@model DoctorOn.Entidades.Paciente

<link href="~/Content/Calendar.css" rel="stylesheet" />

<div class="top">
    <h1>Editor de Perfil</h1>
    @using (Html.BeginForm(new { @class = "form" }))
    {
        @Html.AntiForgeryToken()


        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)



        @Html.LabelFor(model => model.Nome_completo, "Alterar Nome:", new { @class = "formlabel" })
        @Html.EditorFor(model => model.Nome_completo, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Nome_completo, "", new { @class = "text-danger" })




        @Html.LabelFor(model => model.Cpf, "Alterar CPF:", new { @class = "formlabel" })
        @Html.EditorFor(model => model.Cpf, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Cpf, "", new { @class = "text-danger" })




        @Html.LabelFor(model => model.Nome_do_convenio, "Alterar Nome do convenio:", new { @class = "formlabel" })
        @Html.EnumDropDownListFor(model => model.Nome_do_convenio, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Nome_do_convenio, "", new { @class = "text-danger" })




        @Html.LabelFor(model => model.Matricula_do_convenio, "Alterar numero do convenio:", new { @class = "formlabel" })
        @Html.EditorFor(model => model.Matricula_do_convenio, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Matricula_do_convenio, "", new { @class = "text-danger" })




        @Html.LabelFor(model => model.Sexo, "Alterar Sexo:", new { @class = "formlabel" })
        @Html.EnumDropDownListFor(model => model.Sexo, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Sexo, "", new { @class = "text-danger" })




        @Html.LabelFor(model => model.Datadenacimento, "Alterar Data de nacimento:", new { @class = "formlabel" })
        @Html.EditorFor(model => model.Datadenacimento, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Datadenacimento, "", new { @class = "text-danger" })




        @Html.LabelFor(model => model.Endereco, "Alterar Endereço:", new { @class = "formlabel" })
        @Html.EditorFor(model => model.Endereco, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Endereco, "", new { @class = "text-danger" })




        @Html.LabelFor(model => model.Telefone, "Alterar Telefone:", new { @class = "formlabel" })
        @Html.EditorFor(model => model.Telefone, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Telefone, "", new { @class = "text-danger" })

        <input type="submit" value="Salvar" class="buttonlink uup" />

    @Html.ActionLink("Deletar conta", "Delete", "Paciente", new { id = Model.Id }, new { style = "text-decoration:none", @class = "buttonlink slidee" }) 

    @Html.ActionLink("Voltar para lista", "List", "Medico", new { style = "text-decoration:none" })

    }

</div>