@model DoctorOn.Entidades.Medico

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Medico</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nome_completo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Nome_completo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Endereco)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Endereco)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Telefone)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Telefone)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CRM)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CRM)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Especialidade)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Especialidade)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Usuario_Id)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Usuario_Id)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
